<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/imports/plotlyjs-import.html">
<link rel="import" href="/styles/plotly-style.html">

<!--<link rel="import" href = "/imports/mathJax-import.html">-->

<!--
README DOC
## \<spectral-light-curve\>
### Description
### Configurations
* height and width of the plot
* title and axis labels
* number of point classes (each class, from 0 to n-1, has a certain color) (MAX 5 classes, default = 2)
* Debug mode: display informations and a performance plot
### API
* setPlotTitle(title);
* setAxisLabels(xLabel, yLabel);
* setAxisTickText(xTickText, yTickText);
* setYlimits(ymin,ymax);
* addPoint(text, x, y, err_x, err_x_min, err_y, err_y_min, addUpperLimit, pointClass);
* resetPlot();

### Issues


-->
<dom-module id="spectra-lc">
  <template>
    <style include="plotly-style"></style>

    <div id="spectra-lc-div" ></div> <!-- style="{{stylestring}}" -->

  </template>

  <script>

    /**
     * `spectra-lc`
     * This element will display the spectra plot
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SpectraLc extends Polymer.Element {

      // private properties
      constructor() {
        super();
        this.plotName = 'spectra-lc-div';


        this.countData = 0; // global points counter
        this.countDataOnPlot = 0; // counts the points displayed
        this.annotations = []; // the annotations are independent from the classes
        this.annotationenabled = false;

        this.customListeners = {
          _resizePlotListener: function() {
            let plotDiv = this.getPlot()
            Plotly.Plots.resize(plotDiv);
          }
        }
        this._boundListener = this.customListeners._resizePlotListener.bind(this);
      }

      ready() {
        super.ready();
        this.initPlot(true);
      }



      ////////////////////////////////////////////////////////////////////////
      // @Private
      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('resize', this._boundListener);
      }


      ////////////////////////////////////////////////////////////////////////
      // @Private
      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('onresize', this._boundListener);
      }


      // selector
      getPlot() { return this.shadowRoot.querySelector("#"+this.plotName); }


      getClassColor(classesNumber, classIndex) {
        // grey = #7a7a7a
        // green = "#5fa815"
        var colors = ["#0276f0", "#0276f0", "#f47a00", "#ef0000", "#f700d6", "#f700d6"];  // blue, blue, orange, red, purple, purple....
        return colors[classIndex];
      }

      ////////////////////////////////////////////////////////////////////////
      // @Private
      resetPointsTraceLayout() {
        this.pointsTraceLayout.x = new Array();
        this.pointsTraceLayout.y = new Array();
        this.pointsTraceLayout.text = new Array();
        this.pointsTraceLayout.error_x.array = new Array();
        this.pointsTraceLayout.error_x.arrayminus = new Array();
        this.pointsTraceLayout.error_y.array = new Array();
        this.pointsTraceLayout.error_y.arrayminus = new Array();
      }



      initPlot(isFirstLoad) {
        this.countData = 0; // global points counter
        this.countDataOnPlot = 0; // counts the points displayed
        this.annotations = []; // the annotations are independent from the classes
        this.performanceTime = 0;
        this.resetPointsTraceLayout();

        if(! isFirstLoad)
          Plotly.react( this.getPlot(), [this.pointsTraceLayout], this.layout, {scrollZoom: this.scrollzoom});
        else
          Plotly.newPlot( this.getPlot(), [this.pointsTraceLayout], this.layout, {scrollZoom: this.scrollzoom});

      }

      ////////////////////////////////////////////////////////////////////////
      // @Private
      shiftArray(array) {
        if(array.length > this.slidingwindowsize)
        {
          var offset = array.length - this.slidingwindowsize;
          for(var i=0; i < offset; i++)
          {
            array.shift();
          }
        }
      }

      /////////////////////////////////////////////////////////////////////////
      // @Private
      addPlaceHolderForAnnotation() {
        var annotation = {};//JSON.parse(JSON.stringify(this.annotationsLayout));
        annotation["showarrow"] = false;
        this.annotations.push(annotation);
        this.shiftArray(this.annotations);
      }

      ////////////////////////////////////////////////////////////////////////
      // @Private
      addAnnotation(x,y) {

        var annotation = JSON.parse(JSON.stringify(this.annotationsLayout));

        annotation["x"]  = x;
        annotation["y"]  = y;
        annotation["ax"] = x;

        this.annotations.push(annotation);
        this.shiftArray(this.annotations);
      }


      //////////////////////////////////////////
      // PUBLIC API
      //////////////////////////////////////////

      static get is() { return 'spectra-lc'; }
      static get properties() {
        return {
          elemName: {
            type: String,
            value: 'spectra-lc'
          },
          /*
          width: {
            type: String,
            value: "400px"
          },
          height: {
            type: String,
            value: "400px"
          },
          */
          plottitle: {
            type: String,
            value: 'Title not set'
          },
          xlabel: {
            type: String,
            value: 'Label not set',
          },
          ylabel: {
            type: String,
            value: 'Label not set',
          },
          classesnumber: {
            type: Number,
            value: 2
          },
          /*
          stylestring: {
            type: String,
            computed: 'computeStyleString(width, height)'
          },
          */
          layout: {
            type: Object,
            computed: 'computeLayout(plottitle, xlabel, ylabel)'
          },
          pointsTraceLayout: {
            type: Object,
            computed: 'computePointsTraceLayout()'
          },
          annotationsLayout: {
            type: Object,
            computed: 'computeAnnotationsLayout()'
          },
          debug: {
            type: Boolean,
            value: false
          }
        };
      }
      /*
      computeStyleString(width, height) {
        return "width:"+width+"; height:"+height+";"
      }
      */
      computeLayout(plottitle, xlabel, ylabel) {
        return {
          showlegend: false,
          title: plottitle,
          xaxis: {
            title:"Energy [MeV]",
            linewidth:1,
            type: 'log',
            range: [1,5],
            ticks:"inside",
            tickvals:["10","20","30","40","50","60","70","80","90","100","200","300","400","500","600","700","800","900","1000","2000","3000","4000","5000","6000",
            "7000","8000","9000","10000","20000","30000","40000","50000","60000"],
          },
          yaxis: {
            linewidth:1,
            type: 'log',
            range: [-12, -5],
            ticks:"inside",
            tickvals:["0.0000000000001","0.0000000000002","0.0000000000003","0.0000000000004","0.0000000000005","0.0000000000006","0.0000000000007","0.0000000000008","0.0000000000009",
            "0.000000000001","0.000000000002","0.000000000003","0.000000000004","0.000000000005","0.000000000006","0.000000000007","0.000000000008","0.000000000009",
            "0.00000000001","0.00000000002","0.00000000003","0.00000000004","0.00000000005","0.00000000006","0.00000000007","0.00000000008","0.00000000009",
            "0.0000000001","0.0000000002","0.0000000003","0.0000000004","0.0000000005","0.0000000006","0.0000000007","0.0000000008","0.0000000009",
            "0.000000001","0.000000002","0.000000003","0.000000004","0.000000005","0.000000006","0.000000007","0.000000008","0.000000009",
            "0.00000001","0.00000002","0.00000003","0.00000004","0.00000005","0.00000006","0.00000007","0.00000008","0.00000009",
            "0.0000001","0.0000002","0.0000003","0.0000004","0.0000005","0.0000006","0.0000007","0.0000008","0.0000009",
            "0.000001","0.000002","0.000003","0.000004","0.000005","0.000006","0.000007","0.000008","0.000009",
            "0.00001","0.00002","0.00003","0.00004","0.00005","0.00006","0.00007","0.00008","0.00009"],
          },
          annotations: [],
          shapes: []
        }
      }
      computePointsTraceLayout() {
        return {
                  mode: 'markers',
                  text: [],
                  x: [],
                  y: [],
                  marker: {
                    size:8,
                    symbol: ['circle'],
                    color: []
                  },
                  hoverinfo: 'text',
                  type: 'scatter',
                  error_x: {
                    array: [],
                    arrayminus: [],
                    symmetric: false,
                    type: 'data',
                    visible: true,
                    width: 0,
                    thickness : 1
                  },
                  error_y: {
                    array: [],
                    arrayminus: [],
                    symmetric: false,
                    type: 'data',
                    visible: true,
                    width: 0,
                    thickness : 1
                  },
               }
      }
      computeAnnotationsLayout() {
        return {
          'xref':'x',
          'yref':'y',
          'axref':'x',
          'ayref':
          'pixel',
          'text':'',
          'showarrow':true,
          'arrowhead': 2,
          'arrowcolor':'rgb(0, 0, 0)',
          'ay': 50,
          'arrowside':'start',
          'arrowwidth':1,
        }
      }


      resetPlot() {
        this.initPlot(false);
      }
      setPlotTitle(title) {
        this.layout["title"] = title;
        Plotly.relayout(this.getPlot(), this.layout);

      }
      setAxisLalbes(xlabel, ylabel) {
        this.layout.xaxis["title"] = xlabel;
        this.layout.yaxis["title"] = ylabel;
        Plotly.relayout(this.getPlot(), this.layout);
      }
      setAxisTickText(xTickText, yTickText) {
        this.layout.xaxis["ticktext"] = xTickText;
        this.layout.yaxis["ticktext"] = yTickText;
      }
      setYlimits(ymin, ymax) {
        this.layout.yaxis["range"] = [ymin,ymax];
        Plotly.relayout(this.getPlot(), this.layout);
      }
      addLine(x0,y0,x1,y1,color,width,dashType) {
        var line = {
                    type: 'line',
                    x0: x0,
                    y0: y0,
                    x1: x1,
                    y1: y1,
                    xref: 'paper',
                    line: {
                      color: color,
                      width: width,
                      dash: dashType
                    }
                  };
        this.layout["shapes"].push(line);
      }

      highlightsAnnotations() {
        //var _annotations = Array.from(this.annotations);
        //var _length = this.annotations.length-1;
        //console.log(this.annotations[_length]);
        //Plotly.relayout(this.getPlot(), 'annotations[1]');
        this.layout["annotations"] = this.annotations;
        this.annotationenabled = true;
        Plotly.relayout(this.getPlot(), this.layout);
      }

      hideAnnotations() {
        this.layout["annotations"] = [];
        this.annotationenabled = false;
        Plotly.relayout(this.getPlot(), this.layout);
      }

      addPoint(text, x, y, err_x, err_x_min, err_y, err_y_min, addUpperLimit, pointClass) {

        // increment global counter
        this.countData += 1;

        // increment points on plot counter
        this.countDataOnPlot += 1;

        // Annotations handling
        if(addUpperLimit)
          this.addAnnotation(x,y);
        else
          this.addPlaceHolderForAnnotation();

        var color = this.getClassColor(pointClass);

        this.pointsTraceLayout.marker.color.push(color);

        this.shiftArray(this.pointsTraceLayout.marker.color);

        Plotly.extendTraces(this.getPlot(), { x: [[x]],
                                              y: [[y]],
                                              text: [[text]],
                                              'error_x.array': [[err_x]],
                                              'error_x.arrayminus': [[err_x_min]],
                                              'error_y.array': [[err_y]],
                                              'error_y.arrayminus': [[err_y_min]]}, [0])
        ////////////////////////////////////////////////////////////////////////

      }

    }

    window.customElements.define(SpectraLc.is, SpectraLc);
  </script>
</dom-module>
