<link rel="import" href="/bower_components/polymer/polymer-element.html">
<!--<link rel="import" href="../plotly.js/polymer-element.html">-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>





<dom-module id="light-curve">
  <template>
    <style>
    .js-plotly-plot .plotly, .js-plotly-plot .plotly div {
         font-family:'Open Sans', verdana, arial, sans-serif;
         margin:0;
         padding:0;
     }

     .js-plotly-plot .plotly input, .js-plotly-plot .plotly button {
         font-family:'Open Sans', verdana, arial, sans-serif;
     }

     .js-plotly-plot .plotly input:focus,.js-plotly-plot .plotly button:focus {
         outline:none;
     }

     .js-plotly-plot .plotly a {
         text-decoration:none;
     }

     .js-plotly-plot .plotly a:hover {
         text-decoration:none;
     }

     .js-plotly-plot .plotly .crisp {
         shape-rendering:crispEdges;
     }

     .js-plotly-plot .plotly .user-select-none {
         -webkit-user-select:none;
         -moz-user-select:none;
         -ms-user-select:none;
         -o-user-select:none;
         user-select:none;
     }

     .js-plotly-plot .plotly svg {
         overflow:hidden;
     }

     .js-plotly-plot .plotly svg a {
         fill:#447adb;
     }

     .js-plotly-plot .plotly svg a:hover {
         fill:#3c6dc5;
     }

     .js-plotly-plot .plotly .main-svg {
         position:absolute;
         top:0;
         left:0;
         pointer-events:none;
     }

     .js-plotly-plot .plotly .main-svg .draglayer {
         pointer-events:all;
     }

     .js-plotly-plot .plotly .cursor-default {
         cursor:default;
     }

     .js-plotly-plot .plotly .cursor-pointer {
         cursor:pointer;
     }

     .js-plotly-plot .plotly .cursor-crosshair {
         cursor:crosshair;
     }

     .js-plotly-plot .plotly .cursor-move {
         cursor:move;
     }

     .js-plotly-plot .plotly .cursor-col-resize {
         cursor:col-resize;
     }

     .js-plotly-plot .plotly .cursor-row-resize {
         cursor:row-resize;
     }

     .js-plotly-plot .plotly .cursor-ns-resize {
         cursor:ns-resize;
     }

     .js-plotly-plot .plotly .cursor-ew-resize {
         cursor:ew-resize;
     }

     .js-plotly-plot .plotly .cursor-sw-resize {
         cursor:sw-resize;
     }

     .js-plotly-plot .plotly .cursor-s-resize {
         cursor:s-resize;
     }

     .js-plotly-plot .plotly .cursor-se-resize {
         cursor:se-resize;
     }

     .js-plotly-plot .plotly .cursor-w-resize {
         cursor:w-resize;
     }

     .js-plotly-plot .plotly .cursor-e-resize {
         cursor:e-resize;
     }

     .js-plotly-plot .plotly .cursor-nw-resize {
         cursor:nw-resize;
     }

     .js-plotly-plot .plotly .cursor-n-resize {
         cursor:n-resize;
     }

     .js-plotly-plot .plotly .cursor-ne-resize {
         cursor:ne-resize;
     }

     .js-plotly-plot .plotly .modebar {
         position:absolute;
         top:2px;
         right:2px;
         z-index:1001;
         background:rgba(255,255,255,0.7);
     }

     .js-plotly-plot .plotly .modebar--hover {
         opacity:0;
         -webkit-transition:opacity 0.3s ease 0s;
         -moz-transition:opacity 0.3s ease 0s;
         -ms-transition:opacity 0.3s ease 0s;
         -o-transition:opacity 0.3s ease 0s;
         transition:opacity 0.3s ease 0s;
     }

     .js-plotly-plot .plotly:hover .modebar--hover {
         opacity:1;
     }

     .js-plotly-plot .plotly .modebar-group {
         float:left;
         display:inline-block;
         box-sizing:border-box;
         margin-left:8px;
         position:relative;
         vertical-align:middle;
         white-space:nowrap;
     }

     .js-plotly-plot .plotly .modebar-group:first-child {
         margin-left:0px;
     }

     .js-plotly-plot .plotly .modebar-btn {
         position:relative;
         font-size:16px;
         padding:3px 4px;
         cursor:pointer;
         line-height:normal;
         box-sizing:border-box;
     }

     .js-plotly-plot .plotly .modebar-btn svg {
         position:relative;
         top:2px;
     }

     .js-plotly-plot .plotly .modebar-btn path {
         fill:rgba(0,31,95,0.3);
     }

     .js-plotly-plot .plotly .modebar-btn.active path,.js-plotly-plot .plotly .modebar-btn:hover path {
         fill:rgba(0,22,72,0.5);
     }

     .js-plotly-plot .plotly .modebar-btn.modebar-btn--logo {
         padding:3px 1px;
     }

     .js-plotly-plot .plotly .modebar-btn.modebar-btn--logo path {
         fill:#447adb !important;
     }

     .js-plotly-plot .plotly [data-title]:before,.js-plotly-plot .plotly [data-title]:after {
         position:absolute;
         -webkit-transform:translate3d(0, 0, 0);
         -moz-transform:translate3d(0, 0, 0);
         -ms-transform:translate3d(0, 0, 0);
         -o-transform:translate3d(0, 0, 0);
         transform:translate3d(0, 0, 0);
         display:none;
         opacity:0;
         z-index:1001;
         pointer-events:none;
         top:110%;
         right:50%;
     }

     .js-plotly-plot .plotly [data-title]:hover:before,.js-plotly-plot .plotly [data-title]:hover:after {
         display:block;
         opacity:1;
     }

     .js-plotly-plot .plotly [data-title]:before {
         content:'';
         position:absolute;
         background:transparent;
         border:6px solid transparent;
         z-index:1002;
         margin-top:-12px;
         border-bottom-color:#69738a;
         margin-right:-6px;
     }

     .js-plotly-plot .plotly [data-title]:after {
         content:attr(data-title);
         background:#69738a;
         color:white;
         padding:8px 10px;
         font-size:12px;
         line-height:12px;
         white-space:nowrap;
         margin-right:-18px;
         border-radius:2px;
     }

     .js-plotly-plot .plotly .select-outline {
         fill:none;
         stroke-width:1;
         shape-rendering:crispEdges;
     }

     .js-plotly-plot .plotly .select-outline-1 {
         stroke:white;
     }

     .js-plotly-plot .plotly .select-outline-2 {
         stroke:black;
         stroke-dasharray:2px 2px;
     }

     .plotly-notifier {
         font-family:'Open Sans';
         position:fixed;
         top:50px;
         right:20px;
         z-index:10000;
         font-size:10pt;
         max-width:180px;
     }

     .plotly-notifier p {
         margin:0;
     }

     .plotly-notifier .notifier-note {
         min-width:180px;
         max-width:250px;
         border:1px solid #fff;
         z-index:3000;
         margin:0;
         background-color:#8c97af;
         background-color:rgba(140,151,175,0.9);
         color:#fff;
         padding:10px;
     }

     .plotly-notifier .notifier-close {
         color:#fff;
         opacity:0.8;
         float:right;
         padding:0 5px;
         background:none;
         border:none;
         font-size:20px;
         font-weight:bold;
         line-height:20px;
     }

     .plotly-notifier .notifier-close:hover {
         color:#444;
         text-decoration:none;
         cursor:pointer;
     }
    </style>
    <h2>[[elemName]]</h2>
    <div>
      <p>Window size: [[slidingwindowsize]]</p>
      <p>Points on plot: [[countDataOnPlot]]</p>
      <p>Points plotted: [[countData]]</p>
      <p>Classes number: [[classesnumber]]</p>
    </div>
    <div id="light-curve-div" style="{{stylestring}}"></div> <!--style="width:600px;height:400px;"-->


  </template>

  <script>
    /**
     * `light-curve`
     * This element will display the light-curve plot
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LightCurve extends Polymer.Element {
      constructor() {
        super();
        this.plotName = 'light-curve-div';



        // Must be incapsulated
        this.text_data = [];
        this.x_data = [];
        this.y_data = [];
        this.error_x_data = [];
        this.error_y_data = [];
        this.annotations = [];


        this.countData = 0;
        this.countDataOnPlot = 0;



      }
      getPlot() { return this.shadowRoot.querySelector("#"+this.plotName); }
      ready() {
        super.ready();
        // initialize the plot
        Plotly.plot( this.getPlot(), [this.generalTraceLayout], this.layout);
      }

      //////////////////////////////////////////
      // PUBLIC API
      //////////////////////////////////////////

      static get is() { return 'light-curve'; }
      static get properties() {
        return {
          elemName: {
            type: String,
            value: 'light-curve'
          },
          width: {
            type: String,
            value: "400px"
          },
          height: {
            type: String,
            value: "400px"
          },
          plottitle: {
            type: String,
            value: 'Title not set'
          },
          xlabel: {
            type: String,
            value: 'Label not set',
          },
          ylabel: {
            type: String,
            value: 'Label not set',
          },
          classesnumber: {
            type: Number,
            value: 2
          },
          slidingwindowsize: {
            type: Number,
            value: 100
          },
          stylestring: {
            type: String,
            computed: 'computeStyleString(width, height)'
          },
          layout: {
            type: Object,
            computed: 'computeLayout(plottitle, xlabel, ylabel)'
          },
          generalTraceLayout: {
            type: Object,
            computed: 'computeGeneralTraceLayout()'
          },
          annotationsLayout: {
            type: Object,
            computed: 'computeAnnotationsLayout()'
          }
        };
      }
      computeStyleString(width, height) {
        return "width:"+width+"; height:"+height+";"
      }
      computeLayout(plottitle, xlabel, ylabel) {
        return {
          showlegend: false,
          title: plottitle,
          xaxis: {
            title: xlabel,
            showgrid: true,
            zeroline: false,
            showline: false,
            tickformat:"05.f",
            tickangle:0,
            titlefont: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          },
          yaxis: {
            //range: [min_flux-100,max_flux+100 ],
            title: ylabel,
            showgrid: true,
            zeroline: false,
            showline: false,
            titlefont: {
              family: 'Courier New, monospace',
              size: 18,
              color: '#7f7f7f'
            }
          }
        }
      }
      computeGeneralTraceLayout() {
        return {
                  mode: 'markers',
                  marker: {
                    size:8,
                    symbol: ['circle']
                  },
                  hoverinfo: 'text',
                  type: 'scatter',
                  error_x: {
                    type: 'data',
                    visible: true,
                    width: 0,
                    thickness : 1
                  },
                  error_y: {
                    type: 'data',
                    visible: true,
                    width: 0,
                    thickness : 1
                  },
               }
      }
      computeAnnotationsLayout() {
        return {
                'xref':'x',
                'yref':'y',
                'axref':'x',
                'ayref':'pixel',
                'text':'',
                'showarrow':true,
                'arrowhead': 2,
                'arrowsize': 1,
                'arrowwidth': 1,
                'arrowcolor': 'rgb(0, 0, 0)',
                'ay':50,
                'borderwidth': 0,
                'borderpad': 0,
                'arrowside':'start'
              }
      }

      addPoint(text, x, y, err_x, err_y, addUpperLimit) {
        console.log("new point",x+","+y);
        this.countData += 1;

        if(this.y_data.length >= this.slidingwindowsize) {
          var offset = this.y_data.length - this.slidingwindowsize;
          for(var i=0; i <= offset; i++){
            this.text_data.shift();
            this.x_data.shift();
            this.y_data.shift();
            this.error_x_data.shift();
            this.error_y_data.shift();
          }
        }

        this.text_data.push(text);
        this.x_data.push(x);
        this.y_data.push(y);
        this.error_x_data.push(err_x);
        this.error_y_data.push(err_y);




        this.countDataOnPlot = this.y_data.length;

        var _text_data = Array.from(this.text_data);
        var _x_data = Array.from(this.x_data);
        var _y_data = Array.from(this.y_data);
        var _err_x_data = Array.from(this.error_x_data);
        var _err_y_data = Array.from(this.error_y_data);

        this.generalTraceLayout["text"] = _text_data;
        this.generalTraceLayout["x"] = _x_data;
        this.generalTraceLayout["y"] = _y_data;
        this.generalTraceLayout["error_x"]["array"] = _err_x_data;
        this.generalTraceLayout["error_y"]["array"] = _err_y_data;




        ////////////////////////////////////////////////////////////////////////
        // Annotations (Upper Limit Arrows)
        var annotation = JSON.parse(JSON.stringify(this.annotationsLayout));

        if(addUpperLimit)
        {
          annotation["x"]  = x;
          annotation["y"]  = y;
          annotation["ax"] = x;
        }
        else
        {
          annotation["showarrow"] = false;
        }
        this.annotations.push(annotation);

        if(this.annotations.length > this.slidingwindowsize)
        {
          var offset = this.annotations.length - this.slidingwindowsize;
          for(var i=0; i < offset; i++)
          {
            this.annotations.shift();
          }
        }
        var _annotations = Array.from(this.annotations);
        this.layout["annotations"] = _annotations;



        ////////////////////////////////////////////////////////////////////////
        // Update plot
        Plotly.react(this.getPlot(), [this.generalTraceLayout], this.layout);

      }
      increaseSlidingWindowSize() {
        this.slidingwindowsize += 1;
      }
      decreaseSlidingWindowSize() {
        if(this.slidingwindowsize > 1)
          this.slidingwindowsize -= 1;
      }

    }

    window.customElements.define(LightCurve.is, LightCurve);
  </script>
</dom-module>
